Button {
    -fx-background-color: transparent;
    -fx-border-color: #3a495e;
}

Button:hover{
    -fx-background-color: #2c3c5d;
    -fx-effect: dropshadow(three-pass-box,black,30,0,10,10);
}

FontIcon {
    -fx-fill: #00a7c5;
}

Button:hover FontIcon {
    -fx-fill: white;
}

.commonButton:hover {
    -fx-text-fill: white;
}

.menuLabel:hover font{
    -fx-text-fill: white;
}

.buttonBorder {
    -fx-border-color:transparent;
}
